* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    80%,
    rgba(0, 0, 0, 0)
  );
  color: white;
  font-weight: bold;
}

ul {
  display: flex;
  width: 100vh;
  justify-content: space-around;
  list-style-type: none;
}

nav h1 {
  text-align: center;
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  font-family: Garamond, serif;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  width: 40%;
  margin-right: 40px;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  flex-wrap: wrap;
}

nav ul li {
  margin: 5px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px black;
}

body {
  margin: 0;
  padding: 0;
}

.image-container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

.image-first {
  background-image: url("./assets/south-africa1.jpg");
}

.image-second {
  background-image: url("./assets/south-africa2.jpg");
}

.image-third {
  background-image: url("./assets/vineyard.jpg");
}

.hero-content {
  position: absolute;
  left: 100px;
  bottom: 300px;
  color: white;
}

footer {
  /* background: linear-gradient(
    to bottom,
    rgba(94, 127, 21, 0.6),
    20%,
    rgba(247, 221, 166, 1)
  ); */
  background-color: black;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
  color: white;
}
